body .dicount_banner{
	width: 100%;
	margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
}
body .ada-banner-section{
	width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    flex: 1;
	padding-left: 15px;
    padding-right: 15px;
}
body #main .ada-banner-section>.content{
	margin: 0;
	background: transparent;
	border: none;
}
.ada-banner-section .inner-wrapper .code h3{
	height: auto;
}
/* Radio Button Css */
input[name="aioa_icon_type"],
input[name="aioa_icon_size"] {
	position: absolute;
	left: -9999px;
}

#ctrl_aioa_icon_type input[type=radio]+label,
#ctrl_aioa_icon_size input[type=radio]+label {
	width: 100px;
	height: 100px;
	padding: 10px !important;
	text-align: center;
	background-color: #f7f9ff;
	outline: 4px solid #f7f9ff;
	outline-offset: -4px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 12px;
	margin-right: 12px;
}

#ctrl_aioa_icon_type input[type=radio]:checked+label,
#ctrl_aioa_icon_size input[type=radio]:checked+label {
	outline-color: #80c944;
	position: relative;
}

#ctrl_aioa_icon_type input[type=radio]:checked+label::before,
#ctrl_aioa_icon_size input[type=radio]:checked+label::before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: auto;
	right: -4px;
	top: -4px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' class='aioa-feature-on'%3E%3Cg%3E%3Ccircle fill='%2343A047' cx='12.5' cy='12.5' r='12'%3E%3C/circle%3E%3Cpath fill='%23FFFFFF' d='M12.5,1C18.9,1,24,6.1,24,12.5S18.9,24,12.5,24S1,18.9,1,12.5S6.1,1,12.5,1 M12.5,0C5.6,0,0,5.6,0,12.5S5.6,25,12.5,25S25,19.4,25,12.5S19.4,0,12.5,0L12.5,0z'%3E%3C/path%3E%3C/g%3E%3Cpolygon fill='%23FFFFFF' points='9.8,19.4 9.8,19.4 9.8,19.4 4.4,13.9 7.1,11.1 9.8,13.9 17.9,5.6 20.5,8.4 '%3E%3C/polygon%3E%3C/svg%3E") no-repeat center center/contain !important;
	border: none;
}

/* IMAGE STYLES */
input[type=radio]+label>img {
	cursor: pointer;
}

.icon-label {
	display: flex;
	justify-content: center;
	height: 90px;
	width: 90px;
	border: 2px solid gray;
	border-radius: 3px;
}

.d-none {
	display: none !important;
}

#ctrl_aioa_icon_size, #ctrl_aioa_icon_type {
	display: flex;
}

#ctrl_aioa_icon_size br, #ctrl_aioa_icon_type br {
	display: none;
}

.link-color{
	color: #6aaadf !important;
}
.common-class{
	display: none;
}

#sub_aioa_enable{
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
	}
}
.width-col-md-3{
	flex: 0 0 calc(25% - 30px);
	width: calc(25% - 30px);
	padding-left: 15px;
	padding-right: 15px;
}

.width-col-md-6{
	flex: 0 0 calc(50% - 30px);
	width: calc(50% - 30px);
	padding-left: 15px;
	padding-right: 15px;
}

.width-col-md-12{
	flex: 0 0 calc(80% - 30px);
	width: calc(80% - 30px);
	padding-left: 15px;
	padding-right: 15px;
}
#invalid-key-msg{
	color:red;
	margin-bottom: 0.5rem;
	margin-top: -10px;
}
.fullwidth-col-md-12{
	flex: 0 0 calc(100% - 30px);
	width: calc(100% - 30px);
	padding-left: 15px;
	padding-right: 15px;
}
.fullwidth-col-md-12 > *{
	width: 50%;
}

#tl_CusLoaderBox{
	width:300px;padding:2em;
	box-sizing:border-box;
	position:absolute;
	left:50%;
	margin-left:-150px;
	background:#fff url(../icons/loading.gif) no-repeat right 2em center;
	border:2px solid #111;
	border-radius:2px;
	font-size:1rem;
	text-align:left
}

#tl_CusLoaderOverlay
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;left:0;
	background:#fff;opacity:.5
}
